@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --thin-gray: #f2f0ed;
}

html,
body {
  @apply bg-thin-gray dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
